*{
    margin: 0;
    padding: 0;
}

.title{
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: #00bbaa;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    font-size: xx-large;
}

.NBar{
    width: 100%;
    background-color: #00bbaa;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    font-size: x-large;
}

.Comment-Form{
    padding: 20px;  
}

.Comment{
    padding-bottom: 15px;   
    font-size:x-large;
    margin: 1%;
}

.Comment-Form label{
    display:block;
}


.Comment-Form input[type=text], .Comment-Form textarea{
    padding: 8px;
    width: 100%;
    background-color: #00bbaa;
}

.Comment-Form input[type="submit"]{
    background-color: #00bbaa;
    color: #000;
    padding: 10px 15px;
    border: None;

}

body{
    background-color: #00ccaa;
}

a:visited{
    color: black;
}

.InfoBox{
    float:left;
    width:33.3%;
    border:2px solid #000000;
    padding: 10px;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
